<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Do_User_Login</servlet-name>
    <servlet-class>Servlet.Do_User_Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Do_User_Register</servlet-name>
    <servlet-class>Servlet.Do_User_Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>House_Info</servlet-name>
    <servlet-class>Servlet.House_Info</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Do_Add_House</servlet-name>
    <servlet-class>Servlet.Do_Add_House</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Modify_house</servlet-name>
    <servlet-class>Servlet.Modify_house</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Add_House</servlet-name>
    <servlet-class>Servlet.Add_House</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Do_Modify_House</servlet-name>
    <servlet-class>Servlet.Do_Modify_House</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Get_Street_By_District_Id</servlet-name>
    <servlet-class>Servlet.Get_Street_By_District_Id</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>User_Center</servlet-name>
    <servlet-class>Servlet.User_Center</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Do_User_Login</servlet-name>
    <url-pattern>/servlet/Do_User_Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Do_User_Register</servlet-name>
    <url-pattern>/servlet/Do_User_Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>House_Info</servlet-name>
    <url-pattern>/servlet/House_Info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Do_Add_House</servlet-name>
    <url-pattern>/servlet/Do_Add_House</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Modify_house</servlet-name>
    <url-pattern>/servlet/Modify_house</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Add_House</servlet-name>
    <url-pattern>/servlet/Add_House</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Do_Modify_House</servlet-name>
    <url-pattern>/servlet/Do_Modify_House</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Get_Street_By_District_Id</servlet-name>
    <url-pattern>/servlet/Get_Street_By_District_Id</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User_Center</servlet-name>
    <url-pattern>/servlet/User_Center</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>  
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher> 
  </filter-mapping>
  
  <filter-mapping>  
    <filter-name>struts2</filter-name>  
    <url-pattern>*.jsp</url-pattern>  
  </filter-mapping> 
</web-app>